* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1,
h2 {
    color: #444;
}

h3 {
    color: #999;
}

.btn {
    background: skyblue;
    color: white;
    padding: 5px 10px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}
.btn i{
    font-size: 20px;
}
.btn:hover {
    color: skyblue;
    background: white;
    padding: 3px 8px;
    border-radius: 10px;
    border: 2px solid skyblue;
}

table {
    padding: 10px;
}

th,
td {
    text-align: left;
    padding: 8px;
}

.side-menu {
    position: fixed;
    background: skyblue;
    width: 20vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.side-menu .brand-name {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.side-menu li a{
    font-size: 24px;
    padding: 10px 40px;
    color: white;
    display: flex;
    align-items: center;
}

.side-menu li a:hover {
    background: white;
    color: skyblue;
}

.container {
    position: absolute;
    right: 0;
    width: 80vw;
    height: 100vh;
    background: #f1f1f1;
}

.container .header {
    position: fixed;
    top: 0;
    right: 0;
    width: 80vw;
    height: 10vh;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.container .header .nav {
    width: 90%;
    display: flex;
    align-items: center;
}

.container .header .nav .search {
    flex: 3;
    display: flex;
    justify-content: center;
}

.container .header .nav .search input[type=text] {
    border: none;
    background: #f1f1f1;
    padding: 10px;
    width: 50%;
}

.container .header .nav .search button {
    width: 80px;
    height: 40px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .header .nav .search button i {
    width: 30px;
    height: 30px;
    font-size: 30px;
}

.container .header .nav .user {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .header .nav .user i {
    width: 40px;
    height: 40px;
}

.container .content {
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin-top: 10vh;
    min-height: 90vh;
    background: #f1f1f1;
}

.container .content .cards {
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container .content .cards .card {
    width: 250px;
    height: 150px;
    background: white;
    margin: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.container .content .main {
    margin-left: 400px;
    height: 300px;
    width: 500px;
    justify-content: center;
    text-align: center;
}
.container .content .main .buttons {
    height: 50px;
    background: lightskyblue;
    margin-top: 20px;
    border-radius: 10px;
}
.container .content .main .buttons a{
    font-size: 30px;
    font-weight: 700;
    color: #000;
}
.container .content .main .buttons:hover{
    background: lightcoral;
    border-radius: 5px;
}
.container .content .tables label, 
    .container .content .editabletables label {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 700;
}

.container .content .tables input{
    margin-top: 5px;
    margin-bottom: 15px;
    border: none;
    font-size: 20px;
    font-weight: 500;
}
.container .content .editabletables input{
    margin-top: 5px;
    margin-bottom: 15px;
    border: 3px solid #000;
    font-size: 20px;
    font-weight: 500;
}
.container .content .editabletables select{
    margin-top: 5px;
    margin-bottom: 15px;
    border: 3px solid #000;
    font-size: 20px;
    font-weight: 500;
}
.container .content .editabletables button {
    border: none;
}
.container .content .editabletables button a {
    background: skyblue;
    color: white;
    padding: 5px 10px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
}
.container .content .editabletables button a:hover{
    background: lightskyblue;
    border-radius: 5px;
}
.container .content .main .btns{
    float: right;
    background: skyblue;
    color: white;
    padding: 5px 10px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
}
.QR {
    margin-bottom: 20px;
}